footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 2rem auto;
    margin-top: 0; /* take available whitespace */
    margin-bottom: -10px;      /* remove bottom whitespace */
    padding-bottom: 5px;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    text-wrap: balance;
  }
